# See this link for more details - http://eslint.org/docs/rules/

env:
    browser: true

globals:
    $:  false
    angular: false
    requirejs: false
    require: false

rules:
    indent: [2, 4, {"indentSwitchCase": true}]
    key-spacing:
        - 2
        -   beforeColon: false
            afterColon: true
    eqeqeq:
        - 2
        - smart
    space-before-function-paren:
        - 2
        -   anonymous: always
            named: never
    space-after-keywords:
        - 2
        - always
    no-use-before-define:
        - 2
        - nofunc
    new-cap:
        - 2
        -   newIsCap: true
            capIsNew: false
    no-underscore-dangle:
        - 0
    no-unused-vars: false
    no-shadow: false