<div class="dashboard-container">
    <h1>Dashboard</h1>
    <div class="prj_mgmt_table">
        <div class="row">
            <div class="small-4 columns">Project Name</div>
            <div class="small-5 columns">Description</div>
            <div class="small-2 columns">Number of members</div>
            <div class="small-2 columns"></div>
        </div>
        <div ng-repeat="prj in projects" class="row">
            <div class="small-4 columns">{{prj.name}}</div>
            <div class="small-5 columns">{{prj.desc}}</div>
            <div class="small-2 columns">{{prj.no_of_members}}</div>
            <input type="button" value="Edit" class="button small-2 columns" ng-click="editProject(prj)" />
        </div>
    </div>
</div>