<div class="dashboard-container row">

    <div class="columns small-12">
        <h1>Project dashboard</h1>

    </div>

    <div class="columns small-12">
        <table class="project-list-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" ng-click="vm.selectProject('all')" ng-checked="vm.allProjectsSelected" />
                    </th>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Members</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.projectList">
                    <td>
                        <input type="checkbox" ng-click="vm.selectProject(project)" ng-checked="vm.isProjectSelected(project)" />
                    </td>
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.memberCount}}</td>
                    <td>
                        <a href="#" ng-click="$event.preventDefault(); vm.editProject(project)">Edit</a>
                        <span>|</span>
                        <a href="#" ng-click="vm.editProject(project)">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="columns small-12">
        <button type="button" class="button" ng-click="vm.deleteProject()" ng-disabled="vm.isAnyProjectSelected()">Delete Projects</button>
        <button type="button" class="button" ng-click="vm.addProject()">Add new</button>
    </div>

</div>