@import "_variables.scss";
@import "_foundation_media_queries.scss";

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-bolder {
    font-weight: 900;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.row.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.linea-icons {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}