<div class="project-edit-container row">

    <div class="columns small-12">
        <h1>{{vm.heading}}</h1>
    </div>

    <div class="columns small-12">
        <form novalidate="">

            <fieldset>
                <legend>Basic project info</legend>

                <label>
                    Project name
                    <input type="text" placeholder="Enter project name here" ng-model="vm.newProjectName">
                </label>

                <label>
                    Project Description
                    <textarea placeholder="Enter project description here" rows="4" ng-model="vm.newDescription"></textarea>
                </label>

            </fieldset>

            <fieldset>
                <legend>Select project members</legend>

                <input id="checkbox{{$index}}" type="checkbox" ng-model="member.isMember" ng-repeat-start="member in vm.members">
                <label for="checkbox{{$index}}" ng-repeat-end="">{{member.display}}</label>

            </fieldset>

            <button type="submit" ng-click="vm.saveProject()">Save</button>

        </form>
    </div>




</div>